PORT=8080
CACHE_TIME=1800 #Time to cache serving files (in seconds) 
EXPIRATION_DAYS=0 #Set it 0 to disable (how long files should presist)
ALLOWED_EXTENSIONS=.png,.jpg,.jpeg,.gif,.bmp,.webp,.mp4,.mkv,.mov,.avi,.flv,.wmv,.webm,.mpg,.mpeg,.3gp,.m4v,.mp3,.wav,.aac,.flac,.ogg,.wma,.m4a # Allowed extensions seprated by comma
DISCORD_SCHEMA=true #Whether to return a Discord-compatible JSON response for uploads (Leave it true if you were using discord webhooks to upload)

MAX_FILE_SIZE=1048576          # Default max file size in bytes (e.g., 1MB)
MAX_FILE_SIZE_IMAGE=3145728     # Image max file size in bytes (e.g., 3MB)
MAX_FILE_SIZE_VIDEO=20971520     # Video max file size in bytes (e.g., 20MB)
MAX_FILE_SIZE_AUDIO=3145728      # Audio max file size in bytes (e.g., 3MB)