PORT=8080
EXPIRATION_DAYS=0 #Set it 0 to disable (how long files should presist)
MAX_FILE_SIZE=5000000          # Max file size in bytes (e.g., 5MB)
ALLOWED_EXTENSIONS=.png,.jpg,.webp # Allowed extensions seprated by comma
DISCORD_SCHEMA=true #Whether to return a Discord-compatible JSON response for uploads (Leave it true if you were using discord webhooks to upload)